.heroBanner {
  padding: 4rem 0;
  background-color: #20232a;
  color: white;
  text-align: center;
}
.heroBanner .button {
  margin: 0.5rem;
}
.heroBanner .hero__title {
  font-size: 3rem;
}
.heroBanner .hero__subtitle {
  font-size: 1.5rem;
}
